/* Like Button */
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  font-size: 18px;
  color: var(--text-light);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.like:hover {
  background-color: var(--accent-color);
}

/* Footer */
footer {
  padding: 10px;
  background-color: var(--primary-color);
  margin-top: 3rem;
}

footer p {
  text-align: center;
  color: var(--text-light);
}
